<div fxLayoutAlign="stretch" fxLayout="column" class="login-form">
  <h2>Aggiungi obiettivo individuale</h2>

  <form #form="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Obiettivo Strategico</mat-label>
      <mat-select [(ngModel)]="obiettivoStrategico" name="obiettivoStrategico" required>
        <mat-option *ngFor="let obiettivo of listaOS" [value]="obiettivo">
          {{ obiettivo?.codice }} - {{ obiettivo?.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="nome" name="nome" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Responsabile Politico</mat-label>
      <input matInput [(ngModel)]="responsabilePolitico" name="responsabilePolitico" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Responsabile</mat-label>
      <input matInput [(ngModel)]="responsabile" name="responsabile" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Tipologia</mat-label>
      <input matInput [(ngModel)]="tipologia" name="tipologia" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Indicatore</mat-label>
      <input matInput [(ngModel)]="indicatore" name="indicatore" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Peso</mat-label>
      <input matInput [(ngModel)]="peso" name="peso" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Anno</mat-label>
      <input matInput [(ngModel)]="anno" name="anno" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Dipendente</mat-label>
      <mat-select [(ngModel)]="dipendente" name="dipendente">
        <mat-option>-</mat-option>
        <mat-option *ngFor="let dipendente of listaDipendenti" [value]="dipendente">
          {{ dipendente?.matricola }} - {{ dipendente?.nome }} {{ dipendente?.cognome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="dialog-buttons">
      <button mat-button color="primary" type="submit" [disabled]="form.invalid" (click)="aggiungiOi()">Aggiungi</button>
      <button mat-button color="warn" (click)="closeDialog()">Annulla</button>
    </div>
  </form>
</div>


