<div class="background-div">
  <div class="main-div">
     <div class="add-instance-button">
        <button (click)="openDialogOs()" mat-raised-button>Aggiungi Obiettivo strategico</button>
     </div>
     <div class="table-div">
        Obiettivi strategici
        <div class="table-empty-space"></div>
        <table mat-table [dataSource]="dataSourceObiettiviStrat" class="mat-elevation-z8">
           <ng-container matColumnDef="codice">
              <th mat-header-cell *matHeaderCellDef> Codice Obiettivo </th>
              <td mat-cell *matCellDef="let element"> {{element.codice}} </td>
           </ng-container>
           <ng-container matColumnDef="area">
              <th mat-header-cell *matHeaderCellDef> Area Strategica </th>
              <td mat-cell *matCellDef="let element"> {{element.area}} </td>
           </ng-container>
           <ng-container matColumnDef="tipologia">
              <th mat-header-cell *matHeaderCellDef> Tipologia </th>
              <td mat-cell *matCellDef="let element"> {{element.tipologia}} </td>
           </ng-container>
           <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
           </ng-container>
           <ng-container matColumnDef="presidio">
              <th mat-header-cell *matHeaderCellDef> Presidio </th>
              <td mat-cell *matCellDef="let element"> {{element.presidio}} </td>
           </ng-container>
           <ng-container matColumnDef="stakeholder">
              <th mat-header-cell *matHeaderCellDef> Stakeholder </th>
              <td mat-cell *matCellDef="let element"> {{element.stakeholder}} </td>
           </ng-container>
           <ng-container matColumnDef="anno">
              <th mat-header-cell *matHeaderCellDef> Anno </th>
              <td mat-cell *matCellDef="let element"> {{element.anno}} </td>
           </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumnsStrategici"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumnsStrategici;"></tr>
        </table>
     </div>
  </div>
  <div class="main-div">
     <div class="add-instance-button">
        <button (click)="openDialogOi()" mat-raised-button>Aggiungi Obiettivo individuale</button>
     </div>
     <div class="table-div">
        Obiettivi individuali
        <div class="table-empty-space"></div>
        <table mat-table [dataSource]="dataSourceObiettiviIndividuali" class="mat-elevation-z8">
           <ng-container matColumnDef="obiettivoStrategico">
              <th mat-header-cell *matHeaderCellDef> Obiettivo Strategico</th>
              <td mat-cell *matCellDef="let element"> {{element.obiettivoStrategico}} </td>
           </ng-container>
           <ng-container matColumnDef="codice">
              <th mat-header-cell *matHeaderCellDef> Codice Obiettivo </th>
              <td mat-cell *matCellDef="let element"> {{element.codice}} </td>
           </ng-container>
           <ng-container matColumnDef="obopstr">
              <th mat-header-cell *matHeaderCellDef> Obopstr </th>
              <td mat-cell *matCellDef="let element"> {{element.obopstr}} </td>
           </ng-container>
           <ng-container matColumnDef="responsabilePolitico">
              <th mat-header-cell *matHeaderCellDef> Responsabile Politico </th>
              <td mat-cell *matCellDef="let element"> {{element.responsabilePolitico}} </td>
           </ng-container>
           <ng-container matColumnDef="responsabile">
              <th mat-header-cell *matHeaderCellDef> Responsabile </th>
              <td mat-cell *matCellDef="let element"> {{element.responsabile}} </td>
           </ng-container>
           <ng-container matColumnDef="area">
              <th mat-header-cell *matHeaderCellDef> Area </th>
              <td mat-cell *matCellDef="let element"> {{element.area}} </td>
           </ng-container>
           <ng-container matColumnDef="tipologia">
              <th mat-header-cell *matHeaderCellDef> Tipologia </th>
              <td mat-cell *matCellDef="let element"> {{element.tipologia}} </td>
           </ng-container>
           <ng-container matColumnDef="indicatore">
              <th mat-header-cell *matHeaderCellDef> Indicatore </th>
              <td mat-cell *matCellDef="let element"> {{element.indicatore}} </td>
           </ng-container>
           <ng-container matColumnDef="peso">
              <th mat-header-cell *matHeaderCellDef> Peso </th>
              <td mat-cell *matCellDef="let element"> {{element.peso}} </td>
           </ng-container>
           <ng-container matColumnDef="anno">
              <th mat-header-cell *matHeaderCellDef> Anno </th>
              <td mat-cell *matCellDef="let element"> {{element.anno}} </td>
           </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumnsIndividuali"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumnsIndividuali;"></tr>
        </table>
     </div>
  </div>
</div>
