<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
     <mat-toolbar color="primary">Accesso</mat-toolbar>
     <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
        <mat-form-field>
           <mat-label>Nome utente</mat-label>
           <input matInput placeholder="Inserisci il tuo nome utente" />
        </mat-form-field>
        <mat-form-field>
           <mat-label>Password</mat-label>
           <input matInput type="password" placeholder="Inserisci la tua password" />
        </mat-form-field>
        <button mat-raised-button color="primary">Accedi</button>
     </form>
  </mat-card>
</div>
