.main-div-log {
  background-image: url(../resources/logo2.png);
  background-repeat:no-repeat;
  background-position: center 8%;
  background-size: 10%;
  background-color:rgb(0, 1, 87);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-form {
  padding: 2%;
}


.div-form {
  text-align: center;
  align-items: center;
  height: 50%;
  width: 40%;
}

.test {
  padding: 3%;
  color: white;
  font-size: 150%;
}

.test a {
  color: white;
}
