.main-div {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.background-div {
  background-color: rgb(219, 219, 219);
  height: 100%;
  width: 100%;
}

.add-instance-button {
  padding: 1%;
  margin-left: auto;
  text-align: right;
}

.table-div {
  background-color: white;
  padding: 1%;
  border-radius: 10px 10px 10px 20px;
  font-size: 150%;
  font-weight: 500;
  overflow-x: auto;
}

.table-empty-space {
  height: 15px;
}

