<div class="bg-div">

<header>
  <h1>Assegnazione Obiettivi - Università Unimol</h1>
  <p>Benvenuti nell'innovativo strumento per l'assegnazione di obiettivi strategici e individuali per gli uffici dell'Università Unimol.</p>
</header>

<main>
  <section id="descrizione-prodotto">
      <h2>Descrizione del Prodotto</h2>
      <p>Il nostro strumento di assegnazione di obiettivi strategici e individuali è progettato per semplificare il processo di definizione, gestione e assegnazione di obiettivi all'interno dell'Università Unimol. Con questo strumento, potrete:</p>
      <ul>
          <li>Definire obiettivi strategici per l'intera università.</li>
          <li>Assegnare obiettivi individuali ai membri del personale e dei dipartimenti.</li>
          <li>Generare schede di assegnazione obiettivi in modo efficiente.</li>
          <li>Monitorare il progresso e gli aggiornamenti degli obiettivi in tempo reale.</li>
      </ul>
      <p>La nostra piattaforma è stata progettata con l'obiettivo di migliorare la pianificazione strategica e la gestione degli obiettivi all'interno dell'Università Unimol, fornendo un'esperienza utente intuitiva e strumenti potenti per il successo accademico.</p>
  </section>

  <section id="contatti">
      <h2>Contattaci</h2>
      <p>Hai bisogno di ulteriori informazioni o hai domande? Non esitare a contattarci all'indirizzo email: <a href="mailto:test@unimol.it">test@unimol.it</a>. Siamo qui per aiutarti!</p>
  </section>
</main>

<footer>
  <p>&copy; 2023 Università Unimol - Tutti i diritti riservati</p>
</footer>

</div>
