
.drawer-container {
  height: 100vh;
}

.drawer {
  text-align: center;
  width: 200px;
  background-color: #3F51B5;
}

.nav-logo img{
  width: 150px; /* Imposta la larghezza desiderata */
  height: auto; /* Imposta l'altezza su "auto" per mantenere le proporzioni originali */
}

.empty-space {
  height: 20px;
  background-color: transparent;
}

