.drawer-container {
  height: 100vh;
}

.drawer {
  text-align: center;
  width: 250px;
  background-color: #3F51B5;
}

.nav-logo img{
  width: 180px;
  height: auto;
}

.empty-space {
  height: 20px;
  background-color: transparent;
}

.background-div{
  background-color: rgb(219, 219, 219);
  height: 100%;
  width: 100%;
}


.nav-list-design.mat-mdc-list-base {
  --mdc-list-list-item-label-text-color: white;
  --mdc-list-list-item-hover-label-text-color: white;
  --mdc-list-list-item-focus-label-text-color: white;
  --mdc-list-list-item-label-text-size: 150%;
  padding: 16px;

  font-variant: small-caps;
}

