.drawer-container {
  height: 100vh;
}

.drawer {
  text-align: center;
  width: 250px;
  background-color: #3F51B5;
}

.nav-logo img{
  width: 180px;
  height: auto;
}

.empty-space {
  height: 20px;
  background-color: transparent;
}

.mat-nav-list .mat-list-item {
  color: red; /* Cambia il colore del testo qui */
}
