<div class="main-div-reg">
<div class="div-form">
  <mat-card>
     <mat-toolbar color="primary">Registrazione</mat-toolbar>
     <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
        <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email" placeholder="Inserisci la tua email" />
        </mat-form-field>
        <mat-form-field>
           <mat-label>Nome utente</mat-label>
           <input matInput [(ngModel)]="username" name="username" placeholder="Inserisci il tuo nome utente" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Conferma password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="register()">Registrati</button>
     </form>
  </mat-card>
  <p class="test">Hai già un account? <a href="#">Accedi!</a></p>
</div>
</div>
