<div class="main-div-reg">
<div class="div-form">
  <mat-card>
    <h2>Registra nuovo utente</h2>
     <form #form="ngForm" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
        <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" name="email" placeholder="Inserisci la tua email" required/>
        </mat-form-field>
        <mat-form-field appearance="outline">
           <mat-label>Nome utente</mat-label>
           <input matInput [(ngModel)]="username" name="username" placeholder="Inserisci il tuo nome utente" required/>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Conferma password</mat-label>
          <input matInput [(ngModel)]="confirm" name="confirm" [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="register()" class="reg-button">Registrati</button>
     </form>
  </mat-card>
</div>
</div>
