.main-div {
  background-image: url(../resources/logo.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 50%;
  background-color:rgb(219, 219, 219);
  padding: 0%;
}

.login-form {
  padding: 20px;
}
